<div class="wrapper">
  <div class="form flex col-8 p-0 bg-white align-items-stretch shadow-1">
    <!-- Left form -->
    <form class="col-6 flex flex-column gap-5 justify-content-center align-items-center">
      <h1>Sign up</h1>
      <div class="flex flex-column gap-3 w-full">
        <!-- Email -->
        <div class="w-full">
          <input type="email" placeholder="Email">
        </div>
        <!-- Username -->
        <div class="w-full">
          <input type="text" placeholder="Username">
        </div>
        <!-- Password -->
        <div class="w-full">
          <input type="password" placeholder="Password">
        </div>
        <!-- Confirm Password -->
        <div class="w-full">
          <input type="password" placeholder="Confirm password">
        </div>
      </div>
      <!-- Submit -->
      <p-button label="Sign up" class="w-full" styleClass="w-full" />
      <!-- Login link -->
      <p routerLink="/login" class="text-right cursor-pointer text-sm mt-2">Have an account? <span class="text-primary font-bold">Log in</span></p>
    </form>
    <!-- Right image -->
    <div class="col-6 p-0">
      <img class="w-full h-full" src="/assets/images/signup-mockup.jpg" style="object-fit: cover;" alt="">
    </div>
  </div>
</div>