<p-dialog
  [(visible)]="display"
  [modal]="true"
  [dismissableMask]="true"
  [closable]="false"
  [responsive]="true"
  [style]="{ width: '80vw', maxWidth: '900px' }"
  [baseZIndex]="10000"
  header="Header"
>
  <ng-template pTemplate="header" style="padding: 0;">
    <div
      class="modal-header"
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #ccc;
      "
    >
      <div>
        <button
          pButton
          type="button"
          icon="pi pi-arrow-left"
          (click)="onCancel()"
          class="p-button-text"
        ></button>
      </div>
      <div>
        <p style="margin: 0; font-weight: 600;">Create New Post</p>
      </div>
      <div>
        <button
          pButton
          type="button"
          label="Share"
          (click)="createPost()"
          class="p-button-text"
        ></button>
      </div>
    </div>
  </ng-template>
  <div class="flex">
    <div class="col-7 p-0">
      <div class="p-fluid">
        <div class="flex justify-content-center align-items-center" style="height: 500px">
          <p-fileUpload  *ngIf="selectedPhotos.length === 0"
            #fileUploader
            name="photo[]"
            mode="basic"
            chooseLabel="Select from computer"
            chooseIcon="pi pi-upload"
            (onSelect)="onPhotoSelected($event)"
            [multiple]="true"
            accept="image/*"
          >
          </p-fileUpload>
          <p-carousel *ngIf="selectedPhotos.length > 0"
            [value]="selectedPhotos"
            [numVisible]="1"
            [numScroll]="1"
            [circular]="false"
            [ngClass]="selectedPhotos.length == 1 ? 'hide-slide-control' : ''">
            <ng-template let-photo pTemplate="item">
              <img src="{{ photo }}"
                class="w-full h-full"
                style="object-fit: cover" />
            </ng-template>
          </p-carousel>
        </div>
      </div>
    </div>

    <p-divider layout="vertical"></p-divider>

    <div class="col-5 px-3 pt-2">
      <div class="p-fluid">
        <div class="field">

          <div
            class="inline-flex align-items-center justify-content-center gap-2"
          >
            <p-avatar
              image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
              shape="circle"
            />
            <span class="font-bold white-space-nowrap"> Amy Elsner </span>

            <button
              pButton
              pRipple
              [label]="getVisibilityLabel(selectedVisibility)"
              (click)="onShowModalPublic()"
              class="p-button-success padding-7"
            ></button>

          </div>
        </div>
        <div class="field">
          <textarea
            id="content"
            rows="8"
            pInputTextarea
            [(ngModel)]="post.caption"
            [autoResize]="true"
            placeholder="Write a caption..."
            class="border-0 outline-none p-0"
          ></textarea>
        </div>
        <div class="field">
          <div class="relative">
            <i
              (click)="isEmojiPickerVisible = !isEmojiPickerVisible"
              class="cursor-pointer fa-regular fa-face-smile text-xl"
            ></i>
            <emoji-mart
              *ngIf="isEmojiPickerVisible"
              [showPreview]="false"
              (emojiSelect)="addEmoji($event)"
              [enableSearch]="false"
              [style]="{ position: 'absolute', top: '20px', left: '-18px', zIndex: '1' }"
            ></emoji-mart>
          </div>
        </div>

        <p-divider></p-divider>

      </div>
    </div>
  </div>
</p-dialog>
<p-dialog
  header="
  Subject of the article"
  [modal]="true"
  [(visible)]="displayModal"
  [style]="{ width: '25rem' }"
  [closable]="false"
>
  <button
    pButton
    type="button"
    icon="pi pi-chevron-left"
    (click)="onBack()"
    class="round-button"
  ></button>
  <div class="modal-content">
    <span class="p-text-secondary block mb-5">Who can see your posts?</span>
    <div *ngFor="let visibility of visibilityOptions | keyvalue">
      <input
        type="radio"
        [id]="visibility.value"
        name="visibility"
        [(ngModel)]="selectedVisibility"
        [value]="visibility.value"
        (change)="setVisibility(visibility.value)"
      />
      <label [for]="visibility.value">{{ visibility.value }}</label>
    </div>
  </div>

  <div class="modal-footer">
    <p-button label="Save" severity="success" (click)="saveVisibility()" />
  </div>
</p-dialog>
