<div class="message-container flex">

  <!-- Left  -->
  <div class="left col-3 p-0">
    <!-- Username Header -->
    <div class="flex justify-content-between align-items-center pr-2 pb-2">
      <div class="flex justify-content-between align-items-center gap-2">
        <img src="/assets/images/avatar.jpg" class="border-circle" style="width: 48px;">
        <h3>{{currentUser.username}}</h3>
      </div>
      <i (click)="isDialogVisible = true" class="fa-regular fa-pen-to-square cursor-pointer"></i>
    </div>

    <p-divider></p-divider>

    <!-- Message Room List -->
    <div>
      <h4>Messages</h4>
      <div *ngFor="let messageroom of messageRooms"
        (click)="selectMessageRoom(messageroom)"
        [routerLink]="['inbox', messageroom.id]"
        routerLinkActive="active"
        class="message-item py-3">
        <div class="flex align-items-center gap-2">
          <img src="/assets/images/avatar.jpg" class="border-circle" style="width: 48px;">
          <div>
            <p class="my-1">{{messageroom.name ?? '' | removeMyUsername:currentUser.username}}</p>
            <div class="flex align-items-center gap-1 text-gray-500">
              <!-- <small>{{messageroom.lastMessage}}</small>
              <small>·</small>
              <small>{{messageroom.time}}</small> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p-divider [layout]="'vertical'"></p-divider>

  <!-- Message Content -->
  <div class="right col-9 message-content p-0">
    <!-- <router-outlet></router-outlet> -->
    <app-message-content *ngIf="selectedMessageRoom" 
      [messageRoom]="selectedMessageRoom"
      (sendMessageEvent)="sendMessageEvent()"></app-message-content>
  </div>
</div>



<!-- New message dialog -->
<p-dialog header="New message" 
  [(visible)]="isDialogVisible" 
  [style]="{ width: '50vw' }"
  [modal]="true" 
  [dismissableMask]="true"
  [draggable]="false" 
  [resizable]="false">
  <span class="p-fluid">
    <p-autoComplete [(ngModel)]="selectedUserMembers" 
      appendTo="body"
      [suggestions]="searchedUsers" 
      field="username"
      (completeMethod)="search($event)" 
      [multiple]="true"
      placeholder="To:...">
    </p-autoComplete> 
  </span>
  <div class="p-fluid mt-4">
    <p-button label="Chat" (click)="chat()"></p-button>
  </div>
</p-dialog>