<div class="post flex flex-column m-auto gap-3 border-bottom-1 border-gray-300 pb-4 mt-4">
  <!-- Most Frequent Reason -->
  <div *ngIf="isReportedPostsPage && mostFrequentReason" class="flex align-items-center gap-2">
    <small >Most reports: <span class="font-bold">{{ mostFrequentReason }}</span></small>
  </div>
  <div class="flex justify-content-between align-items-center">
    <div class="flex align-items-center gap-2">
      <div class="avt">
        <img class="w-full object-cover"
          src="https://cdn-icons-png.flaticon.com/128/5556/5556475.png"
          alt="" />
      </div>
      <div class="flex align-items-center gap-1">
        <small *ngIf="post.createdBy" class="font-bold">
          {{ post.createdBy | userIdToName | async }}
        </small>
        <small class="text-gray-500">•</small>
        <small class="text-gray-500">
          {{ post.createdDate | date : "HH:mm:ss dd/MM/yyyy" }}</small>
      </div>
    </div>
    <span *ngIf="!isReportedPostsPage && !isHiddenPostsPage" class="pi pi-ellipsis-h cursor-pointer" (click)="showReportModal()"></span>
    <p-button *ngIf="isReportedPostsPage" label="Hide" severity="danger" (click)="onHidePost()"></p-button>
    <p-button *ngIf="isHiddenPostsPage" label="Active" severity="primary" (click)="onActivePost()"></p-button>
  </div>

  <!-- photo -->
  <div *ngIf="post.photos && post.photos.length > 0">
    <p-carousel [value]="post.photos"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="false"
      [style]="{ height: '100%', position: 'relative' }">
      <ng-template let-photo pTemplate="item">
        <img src="{{ photo }}"
          class="w-full h-full"
          style="object-fit: contain" />
      </ng-template>
    </p-carousel>
  </div>

  <!-- caption (no photo) -->
  <div>
    <small *ngIf="post.createdBy" class="font-bold">
      {{ post.createdBy | userIdToName | async }}
    </small>
    <small>{{ post.caption }}</small>
  </div>

  <!-- Like -->
  <app-like *ngIf="post.id"
    [postId]="post.id"
    (visibleChange)="showPostDetail($event)">
  </app-like>
</div>

<app-post-detail
  *ngIf="visible"
  [post]="post"
  [visible]="visible"
  (visibleChange)="showPostDetail($event)">
</app-post-detail>

<app-report 
  [post]="post" 
  [display]="reportVisible" 
  (visibleChange)="handleReportModalVisibility($event)">
</app-report>