<div class="main left-menu w-full" [ngClass]="{'hide-menu-label': isHideMenuLabel}">
  <nav class="h-full p-4 md:px-2">
    <ul
      class="flex flex-column align-items-center lg:align-items-start xl:align-items-start gap-6 h-full pl-0 m-0 list-none">
      <div class="mobile-hidden">
        <li class="p-fluid">
          <p-button class="desktop-show" size="large" label="SYNCIO" [link]="true" [plain]="true" />
          <p-button class="desktop-hidden" size="large" label="S" [link]="true" [plain]="true" />
        </li>
      </div>
      <div
        class="menu w-full flex flex-column align-items-center lg:align-items-start xl:align-items-start gap-2 pl-0 list-none">
        <li *ngFor="let menu of menus" class="p-fluid w-full">
          <p-button class="text-left" routerLinkActive="menu-active" [routerLink]="menu.routerLink"
            [routerLinkActiveOptions]="{exact: true}" [label]="menu.label" [icon]="menu.icon" [text]="true"
            [plain]="true" [id]="menu.id" />
        </li>
        <li class="p-fluid w-full">
          <p-button class="text-left" label="Create" icon="pi pi-pencil" [text]="true" [plain]="true"
            (click)="onCreateClick()" />
        </li>
      </div>
      <div class="p-fluid w-full sm:mt-auto mt-0 mobile-hidden">
        <p-button class="text-left" label="Setting" icon="pi pi-cog" [text]="true" [plain]="true" />
      </div>
    </ul>

    <app-create-post></app-create-post>

  </nav>
</div>
