<ng-container [ngSwitch]="messageContent.type">
  <!-- Text -->
  <div *ngSwitchCase="MessageContentTypeEnum.TEXT" 
    class="message-content" 
    [innerHTML]="messageContent.message | urlify">
  </div>
  <!-- Sticker -->
  <div *ngSwitchCase="MessageContentTypeEnum.STICKER" 
    class="message-content message-content-sticker">
    <img [src]="messageContent.message">
  </div>
  <!-- Image -->
  <div *ngSwitchCase="MessageContentTypeEnum.IMAGE" 
    class="message-content message-content-image">
    <p-image *ngFor="let img of messageContent.message?.split(',')" 
      [src]="'http://localhost:8080/api/v1/images/' + img"
      [preview]="true" />
  </div>
</ng-container>