<div class="message-content-container h-full flex flex-column">
  <div class="flex justify-content-between align-items-center p-2 pt-0">
    <div class="flex justify-content-between align-items-center gap-2">
      <img src="/assets/images/avatar.jpg" class="border-circle" style="width: 48px;">
      <h3 *ngIf="currentUser.username">{{messageRoom.name ?? '' | removeMyUsername:currentUser.username}}</h3>
    </div>
    <span class="pi pi-info-circle" style="font-size: 1.5rem"></span>
  </div>

  <p-divider></p-divider>

  <!-- Message list -->
  <div #messageContentContainer style="flex: 1; overflow-y: scroll;">
    <!-- Avatar -->
    <div class="flex flex-column justify-content-center align-items-center gap-1 my-4">
      <img src="/assets/images/avatar.jpg" class="border-circle" style="width: 96px;">
      <h2 *ngIf="currentUser.username" class="text-3xl mt-1 mb-3" style="font-weight: 500;">{{messageRoom.name ?? '' | removeMyUsername:currentUser.username}}</h2>
      <p-button *ngIf="!messageRoom.group" label="View profile" severity="my-custom-primary"></p-button>
    </div>

    <!-- Message content -->
    <div class="p-2 flex flex-column gap-2">
      <div *ngFor="let messageContent of messageContents" 
        [title]="messageContent.dateSent | dateAgoPipe: 'day'"
        [ngClass]="{'my-message': messageContent.user?.id === currentUser.id}"
        class="message-content-item">
        <img 
          src="{{messageContent.user?.avtURL}}" 
          onerror="this.src='/assets/images/avatar.jpg'"
          class="border-circle" style="width: 32px;">
        <div>
          <small *ngIf="messageContent.user?.id !== currentUser.id && messageRoom.group"
            class="block text-xs text-gray-600" style="margin-left: 6px;">{{messageContent.user?.username}}</small>
          <div class="message-content-text" [innerHTML]="messageContent.message"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- <p-divider></p-divider> -->

  <!-- Message input -->
  <div class="flex justify-content-between align-items-center p-2">
    <div class="message-input flex justify-content-between align-items-center w-full px-2">
      <div class="relative">
        <i (click)="isEmojiPickerVisible = !isEmojiPickerVisible"
            class="cursor-pointer fa-regular fa-face-smile text-xl"></i>
        <emoji-mart *ngIf="isEmojiPickerVisible"
            [set]="'twitter'"
            [showPreview]="false" 
            (emojiSelect)="addEmoji($event)"
            [style]="{ position: 'absolute', bottom: '30px', right: '20 px' }"></emoji-mart>
      </div>
      <p-editor (onTextChange)="textChange($event)" [(ngModel)]="messageContent.message" [formats]="['bold']"
          placeholder="Message..." [style]="{ maxHeight: '40px' }">
          <ng-template pTemplate="header" hidden></ng-template>
      </p-editor>

      <!-- Send button -->
      <p-button [disabled]="plainComment.trim().length <= 0" (click)="sendMessage()"
          label="Send" size="small" [text]="true"></p-button>    
    </div>
    
  </div>

</div>