<div class="card">
    <p-dataView #dv [value]="labels" [layout]="'grid'" [rows]="8" [paginator]="true" paginatorPosition = 'top'>
        <ng-template let-label pTemplate="gridItem">
            <div class="col-12 sm:col-6 lg:col-12 xl:col-3 p-2">
                <div class="p-4 border-1 surface-border surface-card border-round">
                    <div class="flex flex-wrap align-items-center justify-content-between gap-2">
                        <span class="flex align-items-center gap-2">
                            <i class="pi pi-tag"></i>
                            <span class="font-semibold">{{label.type}}</span>
                        </span>
                        <p-tag *ngIf="label.status === 'ENABLED'" [severity]="'success'">IN STOCK</p-tag>
                        <p-tag *ngIf="label.status === 'DISABLED'" [severity]="'danger'">OUT OF STOCK</p-tag>

                    </div>
                    <div class="flex flex-column align-items-center gap-3 py-5">
                        <img class="w-9 shadow-2 border-round" src="{{label.labelURL + '?view=' + dateNow }}" width="160" height="160"  [alt]="label.name" />
                        <div class="text-2xl font-bold">{{ label.name }}</div>
                    </div>

                    <!-- gift and buy -->
                    <div class="flex align-items-center justify-content-between">
                        <span class="text-xl font-semibold">{{label.price + ' VND'}}</span>
                        <div>
                            <button [disabled]="label.status == 'DISABLED'" (click)="gift(label)" pButton class="p-button-rounded mr-1" ><i class="pi pi-gift"></i></button>
                            <button *ngIf="!label.purcharse" [disabled]="label.status == 'DISABLED'" (click)="buyNow(label)" pButton class="p-button-rounded" >Mua ngay</button>
                            <button *ngIf="label.purcharse " disabled pButton class="p-button-rounded" ><span class="pi pi-check-circle" style="margin-right: 5px;"> </span>Đã mua</button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>

<!-- Dialog -->
<p-dialog
[(visible)]="labelDialog"
[style]="{ width: '450px' }"
header="Payment Details"
[modal]="true"
styleClass="p-fluid"
>
<ng-template pTemplate="content">
  <!-- Label name -->
  <div class="field">
    <label for="name">Name</label>
    <input
      type="text"
      pInputText
      id="name"
      [(ngModel)]="label.name"
      required
      autofocus
      disabled="true"
    />
    <small class="p-error" *ngIf="submitted && !label.name"
      >Name is required.</small
    >
  </div>

  <!-- Price -->
  <div class="field">
    <label for="price">Price</label>
    <p-inputNumber id="price" [(ngModel)]="label.price" inputId="currency-vn" mode="currency" currency="VND" locale="vi-VN" [disabled]="true"> </p-inputNumber>
    <small class="p-error" *ngIf="submitted && !label.price"
      >Price is required.</small
    >
  </div>

  <!-- Receiver -->
  <div class="field">
    <label for="receiver">Receiver</label>
    <input
      type="text"
      pInputText
      id="receiver"
      [(ngModel)]="label.owner"
      required
      autofocus
    />
    <small class="p-error" *ngIf="submitted && !label.owner"
      >Owner is required.</small
    >
  </div>

</ng-template>

<ng-template pTemplate="footer">
  <!-- nut an -->
  <button
    pButton
    pRipple
    label="Cancel"
    icon="pi pi-times"
    class="p-button-text"
    (click)="hideDialog()"
  ></button>

  <!-- nut save -->
  <button
    pButton
    pRipple
    label="Payment"
    icon="pi pi-check"
    class="p-button-text"
    (click)="sendGift()"
  ></button>
</ng-template>
</p-dialog>