<main id="my-profile" class="profile-page dark-off">
  <div class="profile-page-inner">
    <header>
      <div class="profile-photo">
        <div class="profile-photo-inner">
          <div class="profile-photo-content">
            <input
              type="file"
              #fileInput
              style="display: none"
              accept="image/*"
              (change)="onFileSelected($event)"
            />
            <button title="" (click)="fileInput.click()">
              <img
                alt=""
                [src]="userProfile.avtURL"
                onerror="this.src='/assets/images/avatar.jpg'"
              />
            </button>
          </div>
        </div>
      </div>
      <section>
        <div class="profile-setting dark-off">
          <h1>{{ userProfile.username }}</h1>

          <a *ngIf="loginUser !== userProfile.id && !isFollowing">
            <p-button
              (click)="handleFollowUser(userProfile.id)" 
              label="Folllow" severity="my-custom-primary">
            </p-button>
          </a>

          <!-- <a>
            <button
              *ngIf="loginUser !== userProfile.id && isFollowing"
              type="button"
              (click)="handleUnFollowUser(userProfile.id)"
              style="background-color: rgba(0, 0, 0, 0.1)"
            >
              Folllowing
            </button>
          </a> -->

          <a class="dropdown"
            *ngIf="loginUser !== userProfile.id && isFollowing">
            <p-button label="Following" severity="my-custom-primary" data-bs-toggle="dropdown" aria-expanded="false"></p-button>
            <ul class="dropdown-menu">
              <li>
                <a
                  class="dropdown-item"
                  (click)="handleUnFollowUser(userProfile.id)"
                >
                  <span>Unfollow</span>
                </a>
              </li>
              <li *ngIf="!isCloseFriend">
                <a
                  class="dropdown-item"
                  (click)="handleAddCloseFriends(userProfile.id)"
                >
                  <span>Close friends</span>
                </a>
              </li>

              <li *ngIf="isCloseFriend">
                <a
                  class="dropdown-item"
                  (click)="handleRemoveCloseFriends(userProfile.id)"
                >
                  <span>Remove Close friends</span>
                </a>
              </li>
            </ul>
          </a>

          <a *ngIf="loginUser !== userProfile.id" href="/messages">
            <p-button label="Messages" severity="my-custom-primary"></p-button>
          </a>
          <a *ngIf="loginUser === userProfile.id" href="/edit-profile">
            <p-button (click)="handleEditProfile()" label="Edit Profile" severity="my-custom-primary"></p-button>
          </a>

          <div *ngIf="loginUser === userProfile.id" class="setting-icon">
            <button type="button">
              <svg
                aria-label="Options"
                fill="#262626"
                height="24"
                viewBox="0 0 48 48"
                width="24"
              >
                <path
                  clipRule="evenodd"
                  [attr.d]="settingIcon"
                  fillRule="evenodd"
                ></path>
              </svg>
            </button>
          </div>
        </div>
        <ul>
          <li>
            <span>
              <span>{{ userProfile.posts?.length }} </span>
              posts
            </span>
          </li>
          <li>
            <a href="/sarojsh01/followers/">
              <span>{{ userProfile.followerCount }} </span>
              followers
            </a>
          </li>
          <li>
            <a href="/sarojsh01/followers/">
              <span>{{ userProfile.followingCount }} </span>
              following
            </a>
          </li>
        </ul>
        <div class="intro">
          <br />
          <span>{{ userProfile.bio }}</span>
          <a href="http://{{ userProfile.bio }}">{{ userProfile.bio }}</a>
        </div>
      </section>
    </header>
    <!-- Show Story  -->
    <!-- <div class="highlight"></div> -->
    <div class="menu">
      <a class="current" href="/{{ userProfile.id }}/"> posts </a>
      <a href="/{{ userProfile.id }}/saved">saved</a>
      <a href="/{{ userProfile.id }}/tagged">tagged</a>
    </div>
    <div class="content">
      <article>
        <div
          style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 4px"
        >
        <ng-container *ngFor="let post of userProfile.posts">
          <div *ngIf="post.photos && post.photos.length > 0" 
            style="aspect-ratio: 1/1; cursor: pointer;"
            (click)="handleShowPostDetail(true, post)">
            <img height="100%"
              width="100%"
              [src]="post.photos[0].url"
              [alt]="post.photos[0].altText"
              style="object-fit: cover"
            />
          </div>
        </ng-container>
        </div>
      </article>
    </div>
  </div>
</main>

<!-- Post Detail popup -->
<app-post-detail
  *ngIf="visible"
  [post]="post"
  [visible]="visible"
  (visibleChange)="showPostDetail($event)"
  style="position: relative; z-index: 1102;">
</app-post-detail>